.Product {
  text-align: center;
  background: white;
  width: 50%;
  height: 350px;
  width: 300px;
  color: green;
  margin: 10px;
  box-shadow:2px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  float: left;
  font-size: 17px;
  border-radius: 10px;
}

.quickSearch {
  margin: 5px 5px;
  box-shadow:2px 5px 5px rgba(0, 0, 0, 0.5);

}

.searchLabel {
  color: forestgreen;
  font-size: 20pt;
  box-shadow:2px 5px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width:500px){
  .Product {
    width:350px;
  }
}
