.NavBar {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
  color: white;
}


.foodeals {
  background: #ffffff url("test.jpg");
}

.tesco {

}

.profile {

}

.logout {

}

.login-button {
  width:20px;
  height:20px;
}

@media (min-width:500px){
  .Product {
    width:350px;
  }
}
